<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/booking_management.css">
    <title>ICANFLY</title>
</head>

<body>
    <header>
        <div class="logo test-0-logo"></div>
        <nav>
            <ul>
                <li>
                    <a href="#actions" class="nav-link test-0-nav-1">Акции</a>
                </li>
                <li>
                    <a href="#search" class="nav-link test-0-nav-2">Поиск</a>
                </li>
                <li>
                    <a href="#" class="nav-link test-0-nav-3">Регистрация на рейс</a>
                </li>
                <li>
                    <a href="http://xbzvsszs-m1.wsr.ru/register.html" class="nav-link test-0-nav-4">Личный кабинет</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="profile">
        <div class="content">
            <div class="person">
                <div class="main">
                    <div class="cont-name">
                        <div class="name test-3-name test-6-code">VASTA</div>
                    </div>
                    <div class="flights-num">
                        <div class="price">Итоговая стоимость: <span class="test-6-tp">60$</span></div>
                    </div>
                </div>
            </div>
            <div class="flights">
                <div class="items">
                    <div class="item">
                        <div class="main-block">
                            <div class="test-6-fс code">Рейс 89</div>
                            <div class="test-6-dd date">18 окт.2020</div>
                            <div class="plane">
                                <div class="plane-title">Воздушнное судно:</div>
                                <div class="name test-6-ac">Bombardier CRJ200</div>
                            </div>
                        </div>
                        <div class="flight-items">
                            <div class="item">
                                <div class="main-content">
                                    <div class="name">Откуда</div>
                                    <div class="cont">
                                        <div class="time test-6-dt">13:00</div>
                                        <div class="city test-6-fcity">Сургут</div>
                                        <div class="airport test-6-from">Сурутск.Аэропорт - SGT</div>
                                    </div>
                                </div>
                                <div class="separator"> - - - ></div>
                                <div class="main-time test-6-ft"> 2ч. 0мин</div>
                                <div class="separator"> - - - ></div>
                                <div class="main-content">
                                    <div class="name">Куда</div>
                                    <div class="cont">
                                        <div class="time test-6-at">15:00</div>
                                        <div class="city test-6-tcity">Москва</div>
                                        <div class="airport test-6-to">Внуково - VKO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="last-block">
                            <div class="info">
                                <div class="info-item">
                                    <div class="name name2">Вероятность вылета</div>
                                    <div class="value value2 test-6-fh">30%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-block">
                            <div class="test-6-fс code">Рейс 89</div>
                            <div class="test-6-dd date">18 окт.2020</div>
                            <div class="plane">
                                <div class="plane-title">Воздушнное судно:</div>
                                <div class="name test-6-ac">Bombardier CRJ200</div>
                            </div>
                        </div>
                        <div class="flight-items">
                            <div class="item">
                                <div class="main-content">
                                    <div class="name">Откуда</div>
                                    <div class="cont">
                                        <div class="time test-6-dt">13:00</div>
                                        <div class="city test-6-fcity">Сургут</div>
                                        <div class="airport test-6-from">Сурутск.Аэропорт - SGT</div>
                                    </div>
                                </div>
                                <div class="separator"> - - - ></div>
                                <div class="main-time test-6-ft"> 2ч. 0мин</div>
                                <div class="separator"> - - - ></div>
                                <div class="main-content">
                                    <div class="name">Куда</div>
                                    <div class="cont">
                                        <div class="time test-6-at">15:00</div>
                                        <div class="city test-6-tcity">Москва</div>
                                        <div class="airport test-6-to">Внуково - VKO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="last-block">
                            <div class="info">
                                <div class="info-item">
                                    <div class="name name2">Вероятность вылета</div>
                                    <div class="value value2 test-6-fh">30%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="last-content">
                <div class="passengers">
                    <div class="head">
                        <div class="title">Пассажиры</div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <div class="name-block">
                                <div class="name test-6-name">Руслан</div>
                                <div class="name test-6-last">Шафиков</div>
                            </div>
                            <div class="text">
                                Дата рождения: <span class="test-6-dob">08-02-2001</span>
                            </div>
                            <div class="text">
                                Номер док-та: <span class="test-6-doс">0668449453</span>
                            </div>
                            <div class="places">
                                <div class="item-place">
                                    Место туда: <span class="test-6-ts">A7</span>
                                </div>
                                <div class="item-place">
                                    Место обратно: <span class="test-6-bs">не выбранно</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <div class="name-block">
                                <div class="name test-6-name">Максим</div>
                                <div class="name test-6-last">Лебедев</div>
                            </div>
                            <div class="text">
                                Дата рождения: <span class="test-6-dob">24-04-200</span>
                            </div>
                            <div class="text">
                                Номер док-та: <span class="test-6-doс">5567444334</span>
                            </div>
                            <div class="places">
                                <div class="item-place">
                                    Место туда: <span class="test-6-ts">A8</span>
                                </div>
                                <div class="item-place">
                                    Место обратно: <span class="test-6-bs">не выбранно</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="final-block">
                    <a href="seat.html" class="btn booking-btn test-6-select">Выбор места</a>
                    <a href="/booking.html" class="btn2">Назад</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>