<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/auth.css">
    <title>ICANFLY</title>
</head>

<body>
    <header>
        <div class="logo test-0-logo"></div>
        <nav>
            <ul>
                <li>
                    <a href="#actions" class="nav-link test-0-nav-1">Акции</a>
                </li>
                <li>
                    <a href="#search" class="nav-link test-0-nav-2">Поиск</a>
                </li>
                <li>
                    <a href="#" class="nav-link test-0-nav-3">Регистрация на рейс</a>
                </li>
                <li>
                    <a href="http://xbzvsszs-m1.wsr.ru/register.html" class="nav-link test-0-nav-4">Личный кабинет</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="intro">
        <div class="content">
            <div class="form">
                <div class="title">Вход</div>
                <div class="items">
                    <div class="cont">
                        <input type="text" placeholder="Телефон" class="test-1-fpn">
                        <input type="text" placeholder="Пароль" class="test-1-fps">
                    </div>
                </div>
                <a href="profile.html" class="btn test-1-fbs">Войти</a>
                <a href="register.html" class="link-ref">
                    Не зарегистрированны?
                </a>
            </div>
        </div>
    </section>
</body>

</html>