<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/search.css">
    <title>ICANFLY</title>
</head>

<body>
    <header>
        <div class="logo test-0-logo"></div>
        <nav>
            <ul>
                <li>
                    <a href="#actions" class="nav-link test-0-nav-1">Акции</a>
                </li>
                <li>
                    <a href="#search" class="nav-link test-0-nav-2">Поиск</a>
                </li>
                <li>
                    <a href="#" class="nav-link test-0-nav-3">Регистрация на рейс</a>
                </li>
                <li>
                    <a href="http://xbzvsszs-m1.wsr.ru/register.html" class="nav-link test-0-nav-4">Личный кабинет</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="profile">
        <div class="content">
            <div class="flights">
                <div class="title">Сургут ---> Москва</div>
                <div class="items">
                    <div class="item active-item">
                        <div class="main-block">
                            <div class="test-4-dd date">18 окт.2020</div>
                            <div class="test-4-fn code">Рейс 89</div>
                            <div class="plane">
                                <div class="plane-title">Воздушнное судно:</div>
                                <div class="name test-4-at">Bombardier CRJ200</div>
                            </div>
                        </div>
                        <div class="flight-items">
                            <div class="flight-block">
                                <div class="cont">
                                    <div class="time test-4-dt">13:00</div>
                                </div>
                                <div class="separator"> - - - ></div>
                                <div class="main-time test-4-ft"> 2ч. 0мин</div>
                                <div class="separator"> - - - ></div>
                                <div class="cont">
                                    <div class="time test-3-at">15:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="last-block">
                            <div class="info">
                                <div class="info-item">
                                    <div class="name ">Стоимость</div>
                                    <div class="value test-4-fp ">36$</div>
                                </div>
                                <div class="info-item">
                                    <div class="name name2">Вероятность вылета</div>
                                    <div class="value value2 test-4-fh">50%</div>
                                </div>
                            </div>
                            <div class="btn2">Выбрать</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-block">
                            <div class="test-4-dd date">18 окт.2020</div>
                            <div class="test-4-fn code">Рейс 90</div>
                            <div class="plane">
                                <div class="plane-title">Воздушнное судно:</div>
                                <div class="name test-4-at">Bombardier CRJ200</div>
                            </div>
                        </div>
                        <div class="flight-items">
                            <div class="flight-block">
                                <div class="cont">
                                    <div class="time test-4-dt">11:00</div>
                                </div>
                                <div class="separator"> - - - ></div>
                                <div class="main-time test-4-ft"> 3ч. 20мин</div>
                                <div class="separator"> - - - ></div>
                                <div class="cont">
                                    <div class="time test-3-at">14:20</div>
                                </div>
                            </div>
                        </div>
                        <div class="last-block">
                            <div class="info">
                                <div class="info-item">
                                    <div class="name ">Стоимость</div>
                                    <div class="value test-4-fp ">50$</div>
                                </div>
                                <div class="info-item">
                                    <div class="name name2">Вероятность вылета</div>
                                    <div class="value value2 test-4-fh">30%</div>
                                </div>
                            </div>
                            <div class="btn2">Выбрать</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flights">
                <div class="title">Москва ---> Сургут</div>
                <div class="items">
                    <div class="item">
                        <div class="main-block">
                            <div class="test-4-dd date">27 окт.2020</div>
                            <div class="test-4-fn code">Рейс 45</div>
                            <div class="plane">
                                <div class="plane-title">Воздушнное судно:</div>
                                <div class="name test-4-at">Bombardier CRJ200</div>
                            </div>
                        </div>
                        <div class="flight-items">
                            <div class="flight-block">
                                <div class="cont">
                                    <div class="time test-4-dt">10:00</div>
                                </div>
                                <div class="separator"> - - - ></div>
                                <div class="main-time test-4-ft"> 2ч. 0мин</div>
                                <div class="separator"> - - - ></div>
                                <div class="cont">
                                    <div class="time test-3-at">12:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="last-block">
                            <div class="info">
                                <div class="info-item">
                                    <div class="name ">Стоимость</div>
                                    <div class="value test-4-fp ">24$</div>
                                </div>
                                <div class="info-item">
                                    <div class="name name2">Вероятность вылета</div>
                                    <div class="value value2 test-4-fh">100%</div>
                                </div>
                            </div>
                            <div class="btn2">Выбрать</div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="booking.html" class="btn booking-btn test-4-bsb">Забронировать</a>
        </div>
    </section>
</body>

</html>