<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/seat.css">
    <title>ICANFLY</title>
</head>

<body>
    <header>
        <div class="logo test-0-logo"></div>
        <nav>
            <ul>
                <li>
                    <a href="#actions" class="nav-link test-0-nav-1">Акции</a>
                </li>
                <li>
                    <a href="#search" class="nav-link test-0-nav-2">Поиск</a>
                </li>
                <li>
                    <a href="#" class="nav-link test-0-nav-3">Регистрация на рейс</a>
                </li>
                <li>
                    <a href="http://xbzvsszs-m1.wsr.ru/register.html" class="nav-link test-0-nav-4">Личный кабинет</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="profile">
        <div class="content">
            <div class="main">
                <div class="info">
                    <div class="item">
                        <div class="seat"></div>
                        - Свободные места
                    </div>
                    <div class="item">
                        <div class="seat seat-occ"></div>
                        - Занятые места
                    </div>
                    <div class="item">
                        <div class="seat seat-select"></div>
                        - Выбранные места
                    </div>
                </div>
                <div class="passengers">
                    <div class="head">
                        <div class="title">Пассажиры</div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <div class="name-block">
                                <div class="name test-6-name">Руслан</div>
                                <div class="name test-6-last">Шафиков</div>
                            </div>
                            <div class="btn2">Выбрать</div>
                        </div>
                        <div class="item">
                            <div class="name-block">
                                <div class="name test-6-name">Максим</div>
                                <div class="name test-6-last">Лебедев</div>
                            </div>
                            <div class="btn2">Выбрать</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plane">
                <div class="items">
                    <div class="item head-item">
                        <div class="row">
                            <div class="sym">A</div>
                            <div class="sym">B</div>
                        </div>
                        <div class="row">
                            <div class="sym">C</div>
                            <div class="sym">D</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">1</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat seat-occ"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">2</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">3</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat seat-select"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">4</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">5</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">6</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">7</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">8</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">9</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">10</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">11</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                        <div class="num">12</div>
                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>