    

.content {
    padding-top: 170px;
}

.flights .title {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.flights .items {
    border-radius: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.flights .item {
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 0px 30px -15px #000;
    width: 100%;
}

.flights .item .main-block {
    padding: 10px;
    padding-right: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.flights .item .code {
    font-weight: bold;
    color: #0e2491;
    font-size: 20px;
    justify-content: space-between;
}

.flights .item .date {
    font-size: 20px;
}

.flights .item .plane-title {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.flights .item .plane .name {
    font-weight: bold;
    color: rgb(32, 32, 32);
}


.flight-items {
    display: flex;  
}


.flights .flight-items .item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    box-shadow: none;
}

.flight-items .item .title {
    margin-bottom: 10px;
}



.flight-items .item {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.flight-items .item .separator {
    font-size: 32px;
    color: #999;
    font-weight: bold;
    margin: 0 50px;
}

.flight-items .item .main-time {
    color: #0e2491;
    font-size: 28px;
    margin: 0 20px;
}

.flight-items .item .name {
    border-bottom: 1px solid #000;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.flight-items .item  .airport {
    color: #142465;
    font-size: 20px;
    margin-bottom: 10px;
}

.item  .time {
    font-size: 24px;
    margin-bottom: 10px;
}

.item .last-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.last-block .info {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}


.last-block .info .info-item {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    margin: 0 20px;
}

.last-block .info .info-item .name {
    font-size: 14px;
    margin-bottom: 10px;
}
.last-block .info .info-item .name2 {
    font-size: 12px;
    margin-bottom: 2px;
}

.last-block .info .info-item .value {
    padding: 15px 20px;
    border-radius: 30px;
    background: #51a0ff;
    color: #fff;
    font-size: 20px;
}

.last-block .info .info-item .value2 {
    background: #1e82fc;
}

.booking-btn {
    margin-top: 30px;
    margin-bottom: 40px;
}

.last-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.passengers {
    display: flex;
    flex-direction: column;
}

.passengers .head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.passengers .btn2 {
    background: #428be2;
    padding: 10px 30px;
    margin-left: 30px;
}

.passengers .title {
    font-size: 24px;
}

.passengers .items {
    display: flex;
    flex-direction: column;
}

.passengers .item {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: rgb(70, 164, 241);
    padding: 10px;
    margin: 10px 0;
}

.passengers .item input {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    margin: 5px;

}

.passengers .btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 35, 35);
    cursor: pointer;
    color: #fff;
}

.price {
    font-size: 20px;
    margin-top: 30px;
}

.price span {
    font-weight: bold;
}